
@{
    ViewBag.Title = "AddVideo";
}

<h2>AddVideo</h2>

<h2>Upload Your Video</h2>
@using (Html.BeginForm("AddVideo",
                        "VideoModels",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="file" accept="video/mp4" /><br />
    <input type="submit" value="Upload Image" />
    @ViewBag.Message
}

