@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>



    <h3> Jan Malawski</h3>


<address>
    <strong>Email:</strong>   <a href="mailto:janmalawski2@gmail.com">janmalawski2@gmail.com</a><br />
    
</address>